#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.main-wrapper {
  max-height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  padding: 2rem 0 0;
  flex: 1;
}

.bottom-container {
  padding: 1rem 0 2rem;
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.children-list {
  overflow-y: auto;
  width: 100%;
  max-width: 360px;
}

.share-button {
  display: flex;
  gap: 1rem;
}

.share-button img {
  height: 1.5rem;
}
